body {
  font-family: papyrus, fantasy;
  background: #00b4d8;
  color: #ffffff;
  text-align: center;
}
h1 {
  
  background-color: #003049;
}
h2{
    font-family:brush Script MT, cursive ;
    font-size: 4vw; 
    background-color: #003049;
}
h3{
    font-family:brush Script MT, cursive ;
    /*color: red;*/
    background-color: #003049;
}