

head{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    
}
body{
     .grid {
      display: grid;
      grid-template-columns: 1fr 1fr; /* 2 columnas */
      gap: 1715px;
      max-width: 800px;
      
      text-align: center;
    }
    .grid1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr; /* 3 columnas */
      gap: 5px;
      max-width: 800px;
      margin: 100px auto;
      text-align: center;
    }
    

    
    /* Botón */
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background: rgb(0, 11, 128);
      color: gold;
      text-decoration: none;
      border-radius: 1px;
      transition: 0.3s;
    }

    .btn:hover {
      background: rgb(201, 171, 1);
      color: red;
      transform: scale(1.1);    
    }
    
    .indice1{
        text-align: center;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 0, 0);
        display:flex;

    }
    .imgexer{
        width: 20px;
        height: auto;
       justify-content: center;
        
    }
    h1{
        background-color: rgb(255, 5, 5);
        color: white;
        

    }
    background-color: gold;
    text-align: center;
     .outer {
      width: 100px;
      height: 100px;
      background-color: red;   /* círculo rojo */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .middle {
      width: 60px;
      height: 60px;
      background-color: yellow; /* círculo amarillo */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner {
      width: 30px;
      height: 30px;
      background-color: red;   /* círculo rojo interior */
      border-radius: 50%;
    }
    
        
}
footer{
    
    text-align: center;
    padding: 20px;
    .circulo{
       
        justify-content: center;
        align-items: center;
    }
}