

head{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    
}
body{
    
    background-color: gold;
    text-align: center;
    
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; /* 6 columnas */
      gap: 70px;
      max-width: 1500px;
      margin-top: 40px;

      align-items: center;
      text-align: center;
      justify-content: center;
      
    }
    
    /* Botón */
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background: rgb(0, 11, 128);
      color: gold;
      text-decoration: none;
      border-radius: 1px;
      transition: 0.3s;
    }

    .btn:hover {
      background: rgb(201, 171, 1);
      color: red;
      transform: scale(1.1);    
    }
    .btn2{
      display: inline-block;
      padding: 1px 1px;
      background: rgb(0, 0, 0);
      color: gold;
      text-decoration: none;
      border-radius: 1000px;
      transition: 0.3s;
    }
    .btn2:hover{
      background: rgb(201, 171, 1);
      color: red;
      transform: scale(1.1); 
    }
    .indice1{
        text-align: center;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(255, 0, 0);
        display:flex;

    }
    .imgexer{
        width: 20px;
        height: auto;
       justify-content: center;
        
    }
    h1{
        background-color: rgb(255, 5, 5);
        color: white;
        

    }
    
     .outer {
      width: 100px;
      height: 100px;
      background-color: red;   /* círculo rojo */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .middle {
      width: 60px;
      height: 60px;
      background-color: yellow; /* círculo amarillo */
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .inner {
      width: 30px;
      height: 30px;
      background-color: red;   /* círculo rojo interior */
      border-radius: 50%;
    }
    
    
}
footer{
  
  
  text-align: center;
justify-content: center;
align-items: center;


      
    
    
}